<!--list of candidates by idevent-->
<div *ngIf="candidate">
  <table class="table table-hover">
    <caption>List of candidates</caption>
    <thead>
    <tr>
      <th scope="col">Candidate name</th>
      <th scope="col">Vote</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let item of candidate.data">
      <th scope="row">{{ item.name }}</th>
      <th><input type="radio" name="vote"></th>
    </tr>
    </tbody>

  </table>
</div>
