<!--  if logged in.-->
<div *ngIf="isLoggedIn; else loggedOut">

</div>

<ng-template #loggedOut>

  <div style='margin: auto' class='col-sm-6 col-md-5 col-md-offset-4'>
    <div id='my-tab-content' class='tab-content'>
      <div class='tab-pane active' id='login'>
        <br><br><br>
        <form id="form-login" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="email"></label>
            <input placeholder='Email' type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel"
            required autofocus/>
            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors?.required">Email is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password"></label>
            <input placeholder='Password' required type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"/>
            <div *ngIf="f.submitted && password.invalid">

              <!--PROBLEMS HERE-->
              <div *ngIf="password.errors?.required">Password is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class='btn btn-lg btn-primary btn-block' value='Log In'>Login</button>
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
            </div>
          </div>

        </form>
        <hr/>
        <p id="no-account">Don't have an account?</p>
        <a href="signup" class="btn btn-lg btn-success btn-block">Sign Up</a>
      </div>
    </div>
  </div>

</ng-template>
