<div *ngIf="userInfo; else loggedOut">
  <br>
  <h5 class="text-primary">Welcome<strong> {{userInfo.name}}</strong></h5>
  <br><br>

<!-- table of events -->
<table class="table table-hover">
  <caption>List of events</caption>
  <thead>
  <tr>
    <th scope="col">Event name</th>
    <th scope="col">Description</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of candidate.data">
    <th scope="row">{{ item.name }}</th>
    <th><input type="radio" name="vote"></th>
  </tr>
  </tbody>

</table>
</div>
<br>

<ng-template #loggedOut>
  <br><br>
  <img src="../../assets/images/evote-logo.png" alt="">
</ng-template>
